.App {
  text-align: center;
  &-header {
    background-color: #282c34;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    &--title {
      font-size: 38px;
      margin: 20px;
      color: #9dd4e4;
    }
  }
}
