body{margin:0; box-sizing: border-box; font-family: sans-serif;}
.wrapper{
  height: 100vh;
  display: grid;
  grid-template-columns: 12 /*repeat (12, 1fr) Se puede poner solo el 12 porque todas las columnas tienen la misma anchura*/;
  grid-template-rows: 20% 1fr 20%;
  /*grid-gap: 5px;*/
}

.item{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  text-transform: uppercase;
}
.header{
  background: pink;
  grid-column:1/13;
  height:20vh;
}
.nav{
  background: purple;
  /* grid-column: span 1; Esto no hace falta especificarlo, porque es el valor por defecto. */
  height: 60vh;
  font-size: 24px;  
}
.bar {
  display: flex;
  flex-direction: column;  
  justify-content: center;  
  padding-left: 0;
  /* &__item {  
    list-style-type: none;
    margin: 25px;
    padding-left: 0;
  } */
}
.bar__item {  
  list-style-type: none;
  margin: 25px 0;  
}
.bar__link {
  color: white;
  text-decoration: none;
}
.bar__link:hover {
  color: lightblue;
}
.section{
  background: salmon;
  grid-column: 2/13;
}
.footer{
  background: lightblue;
  grid-column:1/13;
  height:20vh;
}